<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Group</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- <link href="/css/style.css" rel="stylesheet" type="text/css" /> -->
    <link href="/css/newUser.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <form method="post" action="/new/user">
        <div class="row">
            <img src="/images/Solarlogo.png" alt="solar-logo" width="72" height="72">
        </div>
        <div class="row">
            <h4>Solar System:</h4>
        </div>
        <div class="row">
            <select name="group" id="group" class="form-select">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
        </div>
        <div class="row">
            <h4>Username</h4>
        </div>
        <div class="row">
            <input type="text" class="form-control" placeholder="Enter Username" name="username" required>
        </div>
        <div class="row">
            <h4>Password</h4>
        </div>
        <div class="row">
            <input type="password" class="form-control" placeholder="Enter Password" name="password" required>
        </div>
        <div class="row">
            <button class="btn btn-primary">Register User</button>
        </div>
    </form>
    <div class="row">
        <a href="/" class="btn btn-light">
            Sign In
        </a>
    </div>
    <footer class="center">
        <hr>
        <p> CST499 Capstone Project. 2022&copy; Spring 2022
            <br>
            Team 2 & 11
            <br>
            <b>Disclaimer:</b>
            It is used for academic purposes only.
        </p>
        <figure id="bottomimg"><img
                src="https://upload.wikimedia.org/wikipedia/en/thumb/1/13/CSU_Monterey_Bay_seal.svg/200px-CSU_Monterey_Bay_seal.svg.png"
                alt="CSU_Monterey_Bay_seal" width="25%">
        </figure>
    </footer>
</body>

</html>